In [ ]:
#Q26. What is a string? How can we declare string in Python?


In Python, a string is a sequence of characters enclosed within single quotes (') or double quotes ("). Strings are used to represent text data and can include letters, numbers, symbols, and spaces.

In [ ]:
#Q27. How can we access the string using its index?


In Python, you can access individual characters of a string using indexing. String indexing starts from 0 for the first character, 1 for the second character, and so on. Additionally, negative indexing allows you to access characters from the end of the string, with -1 representing the last character, -2 the second-to-last character, and so forth.

In [ ]:
a = "sheetal" ## we can access first letter of the string sheetal
a[0]

's'

In [ ]:
#Q28. Write a code to get the desired output of the following
#string = "Big Data iNeuron"
#desired_output = "iNeuron"

In [ ]:
string = "Big Data iNeuron"
desired_output=string[9:17]
print(desired_output)

iNeuron

In [ ]:
#Q29. Write a code to get the desired output of the following
#string = "Big Data iNeuron"
#desired_output = "norueNi"

In [ ]:
string = "Big Data iNeuron"
desired_output=string[16:8:-1]
print(desired_output)

norueNi

In [ ]:
#Q30. Resverse the string given in the above question.

In [ ]:
string = "Big Data iNeuron"
reverse_string=string[::-1]
print(reverse_string)

norueNi ataD giB

In [ ]:
#Q31. How can you delete entire string at once?

In [ ]:
string = "Big Data iNeuron"
print(string)
del string
print(string) ## this wil raise an error because the variable no longer exists

Big Data iNeuron

NameError: name 'string' is not defined

In [ ]:
#Q32. What is escape sequence?


An escape sequence is a combination of characters in a string that represents a special or non-printable character. It typically begins with a backslash \ followed by a specific character or code. Escape sequences are commonly used in programming languages and text processing to represent characters that cannot be easily typed or displayed directly.

For example: \n for a newline character
             \t for a tab character

Using escape sequences allows programmers to include special characters in strings without conflicting with the syntax of the programming language.

In [ ]:
#Q33. How can you print the below string?
#'iNeuron's Big Data Course'

In [ ]:
print('iNeuron\'s Big Data Course')

iNeuron's Big Data Course

In [ ]:
print("iNeuron's Big Data Course")

iNeuron's Big Data Course

In [ ]:
#Q34. What is a list in Python?

In Python, a list is a built-in data structure used to store a collection of items. Lists are ordered, mutable (modifiable), and can contain elements of different data types, including integers, floats, strings, and even other lists. Lists are defined using square brackets [], with elements separated by commas.

For example: my_list = [1, 2, 3, 'apple', 'banana', 5.0, [1,2,3]]

In [ ]:
#Q35. How can you create a list in Python?

In [ ]:
#Using square bracket:
lst = [1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [ ]:
#Using list() constructor:
my_list = list("hello")
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [ ]:
#List comprehension: squares:
a=[x**2 for x in range(10)]
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Q36. How can we access the elements in a list?

In [ ]:
#1) Thtough indexing
l1=[1,2,3,4]
l1[0]

1

In [ ]:
#2)Slicing
l2=['my','name','is','sheetal']
l2[1:]

['name', 'is', 'sheetal']

In [ ]:
#Q37. Write a code to access the word "iNeuron" from the given list.
#lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [ ]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
lst[4][2]

'iNeuron'

In [ ]:
#Q38. Take a list as an input from the user and find the length of the list.

In [ ]:
l1=input("enter a list: ")
l2=l1.split(',')
l3=len(l2)
print(l3)

enter a list: 1,2,3,4
4

In [ ]:
#Q39. Add the word "Big" in the 3rd index of the given list.
#lst = ["Welcome", "to", "Data", "course"]

In [ ]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2,'Big')
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

In [ ]:
#Q40. What is a tuple? How is it different from list?

A tuple is a collection data type similar to a list, but with some key differences:
-A tuple is defined using parentheses () whereas a list is defined using square brackets []

-Tuples are immutable, meaning their elements cannot be modified or reassigned after creation.
Lists are mutable, allowing modification, addition, or removal of elements after creation.

-Since tuples are immutable, they require less memory and are faster to access compared to lists, especially for large datasets.
Lists, being mutable, may require more memory and processing time for operations such as appending or inserting elements.

-

In [ ]:
#Q41. How can you create a tuple in Python?

Using parentheses having comma separated elemnts we can create tuples and they are immutable.
For example: t= (1,,2,3)

In [ ]:
#Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

In [ ]:
t1 = (1,2,3)
t1.append("sheetal")
print(t1)

AttributeError: 'tuple' object has no attribute 'append'

we can not add elemnts after tuple has been created because of its immutable nature once tuple is created its elemnts we cant change,add and remove it will raise an attribute error.

In [ ]:
#Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [ ]:
t1=(1,2,3)
t2=(4,5,6)
t1.append(t2)
print(t1)

AttributeError: 'tuple' object has no attribute 'append'

Two tuples cannot be appended together because of its immutablity nature however we can concatenate using '+' operator to create new tuple having elemts from both tuples.

In [ ]:
t3=(6,7,8)
t4=(1,2,3)
Concatenated_tuple=t3+t4
print(Concatenated_tuple)

(6, 7, 8, 1, 2, 3)

In [ ]:
#Q44. Take a tuple as an input and print the count of elements in it.

In [ ]:
t1=tuple(input("enter a list: ").split())
t2=len(t1)
print(t2)

enter a list: 1 2 3
3

In [ ]:
#Q45. What are sets in Python?

Sets are unordered collection of unique elements they are mutable but cannot have mutable elements like lists or other sets as elements.

In [ ]:
#Q46. How can you create a set?

In [ ]:
#ueing {}
s={1,2,3,4,3}
print(s)

{1, 2, 3, 4}

In [ ]:
#using set() function
l=[2,3,4]
s2=set(l)
print(s2)

{2, 3, 4}

In [ ]:
#Q47. Create a set and add "iNeuron" in your set.

In [ ]:
s={"bigdata","data analytics"}
s.add("iNeuron")
print(s)

{'bigdata', 'iNeuron', 'data analytics'}

In [ ]:
#Q48. Try to add multiple values using add() function.

In [ ]:
s2={'c+','java','python'}
s2.add('sql','aws')
print(s2)

TypeError: set.add() takes exactly one argument (2 given)

In [ ]:
s3={'c+','java','python'}
s3.update(['sql','aws'])
print(s3)

{'java', 'sql', 'aws', 'c+', 'python'}

In [ ]:
#Q49. How is update() different from add()?

-When used with sets (set.update()), it adds elements from another set (or any iterable) to the existing set.

-When used with dictionaries (dict.update()), it updates the dictionary with key-value pairs from another dictionary or iterable. If a key already exists, its corresponding value is updated; otherwise, a new key-value pair is added.

=add()
-It adds a single element to the set.
-If the element is already present in the set, the set remains unchanged.
-It doesn't apply to dictionaries

In [ ]:
#Q50. What is clear() in sets?


The clear() method is used to remove all elements from a set. After calling clear(), the set becomes empty.

In [ ]:
s={1,2,3,4}
s.clear()
print(s)

set()

In [ ]:
#Q51. What is frozen set?

A frozen set in Python is an immutable version of a set. It's created using the built-in frozenset() function.

In [ ]:
#Q52. How is frozen set different from set?

1)Mutability:
Sets (set): Sets are mutable, meaning you can add or remove elements from them after they are created.
Frozen sets (frozenset): Frozen sets are immutable, meaning once created, their elements cannot be changed. You cannot add or remove elements from a frozen set after it has been created.

2)Hashability:
Sets (set): Sets are not hashable, meaning you cannot use them as elements in other sets or as keys in dictionaries. This is because sets are mutable, and their contents could change, making it difficult to track them in hash-based data structures.
Frozen sets (frozenset): Frozen sets are hashable, meaning you can use them as elements in other sets or as keys in dictionaries. This is because frozen sets are immutable, and their contents cannot change after creation, making them suitable for hash-based data structures.

3)Usage:
Sets (set): Sets are used when you need a mutable collection of unique elements with fast membership testing and set operations.
Frozen sets (frozenset): Frozen sets are used when you need an immutable collection of unique elements that can be used as keys in dictionaries or as elements in other sets.

4)Creation:
Sets (set): Sets are created using curly braces {} or the set() constructor.
Frozen sets (frozenset): Frozen sets are created using the frozenset() constructor.

In [ ]:
#Q53. What is union() in sets? Explain via code

In Python, the union() method is used to create a new set that contains all the unique elements present in two or more sets. It performs the union operation, which means it combines the elements of the sets without including any duplicates.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
result_set = set1.union(set2, set3)
print(result_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#Q54. What is intersection() in sets? Explain via code.

intersection() is a method available for sets that returns a new set containing elements that are common to both sets. In other words, it computes the intersection of two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_set = set1.intersection(set2)

print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {4, 5}

In [ ]:
#Q55. What is dictionary ibn Python?

Dictionary is a built-in data type that stores a collection of key-value pairs.
Dictionaries are unordered, mutable, and can contain elements of any data type.

In [ ]:
#Q56. How is dictionary different from all other data structures.

-Key-Value Pairing: Dictionaries are based on a key-value pairing system, where each element in the dictionary is stored as a pair of keys and their corresponding values. Other data structures like lists, tuples, and sets are primarily ordered or unordered collections of individual elements without explicit key-value relationships.

-Access via Keys: Elements in a dictionary are accessed by their keys rather than by their position (index) as in lists and tuples. This key-based access provides fast retrieval of values associated with specific keys.

-Mutable and Dynamic: Dictionaries are mutable, meaning they can be modified after creation. You can add, update, or delete key-value pairs dynamically. In contrast, tuples are immutable, and while lists are mutable, their structure (length and order) remains fixed once created.

-Efficient for Key-Based Operations: Dictionaries are optimized for key-based operations such as searching, inserting, updating, and deleting elements. This makes them efficient for tasks where key-based retrieval or manipulation of data is a primary requirement.

In [ ]:
#Q57. How can we delare a dictionary in Python?

We can declare a dictionary using curly braces {} to enclose key-value pairs. Each key-value pair is separated by a colon
 for ex: my_dict = {key1: value1, key2: value2, key3: value3, ...}

In [ ]:
#Q58. What will the output of the following?
var = {}
print(type(var))

<class 'dict'>

In [ ]:
#Q59. How can we add an element in a dictionary?

In [ ]:
dict={'a':1,'b':2}

In [ ]:
dict['c']=3
print(dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
d={'name':'sheetal','age':25}
d1={'skills':'sql','course':'big data'}
d.update(d1)
print(d)

{'name': 'sheetal', 'age': 25, 'skills': 'sql', 'course': 'big data'}

In [ ]:
#Q60. Create a dictionary and access all the values in that dictionary.

In [ ]:
d2={'name':'sheetal','age':25}
d2.values()

dict_values(['sheetal', 25])

In [ ]:
#Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [ ]:
nested_dict = {
    'key': {
        'a': 'sheetal',
        'b': 'neha'},
    'key1': {
        'c': 'vidya',
        'd': 'afreed'
    }
}

for inner_dict in nested_dict.values():
    for key, value in inner_dict.items():
        print("Key:", key, "- Value:", value)

Key: a - Value: sheetal
Key: b - Value: neha
Key: c - Value: vidya
Key: d - Value: afreed

In [ ]:
#Q62. What is the use of get() function?

get() function is a built-in method used to retrieve the value of a key in a dictionary. It provides a way to access dictionary elements without raising an error if the specified key does not exist.

In [ ]:
d={'name':'sheetal','age':25}
dict=d.get('name')
print(dict)

sheetal

In [ ]:
#Q63. What is the use of items() function?

items() function is a built-in method used to return a view object that displays a list of key-value tuple pairs of a dictionary's elements. This view object can then be iterated over, allowing you to access both keys and values of the dictionary in a convenient manner.

In [ ]:
d={'name':'sheetal','age':25}
for key, value in d.items():
    print("Key:", key, "- Value:", value)

Key: name - Value: sheetal
Key: age - Value: 25

In [ ]:
#Q64. What is the use of pop() function?

pop() function is a built-in method used to remove and return the value associated with a specified key from a dictionary. It takes one mandatory argument, which is the key whose associated value is to be removed. Optionally, you can also provide a default value to return if the key is not found in the dictionary.

In [ ]:
d={'name':'sheetal','age':25}
d1=d.pop('age')
print(d1)
print(d)

25
{'name': 'sheetal'}

In [ ]:
#default value
d={'name':'sheetal','age':25}
d2=d.pop('city','not found')
print(d2)
print(d)

not found
{'name': 'sheetal', 'age': 25}

In [ ]:
#Q65. What is the use of popitems() function?

popitem() function is a built-in method used to remove and return an arbitrary key-value pair from a dictionary. This function does not take any arguments.

In [ ]:
d={'name':'sheetal','age':25}
d4=d.popitem()
print(d4)
print(d)

('age', 25)
{'name': 'sheetal'}

In [ ]:
#Q66. What is the use of keys() function?

keys() function is a built-in method used to return a view object that displays a list of all the keys in a dictionary. This view object can then be iterated over, allowing you to access each key in the dictionary.

In [ ]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

for key in my_dict.keys():
    print("Key:", key)

Key: name
Key: age
Key: city

In [ ]:
#Q67. What is the use of values() function?

values() function is a built-in method used to return a view object that displays a list of all the values in a dictionary. This view object can then be iterated over, allowing you to access each value in the dictionary.

In [ ]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

for value in my_dict.values():
    print("value:", value)

value: John
value: 30
value: New York

In [ ]:
#Q68. What are loops in Python?

loops are control flow structures that allow you to execute a block of code repeatedly. They are used to iterate over sequences, such as lists, tuples, dictionaries, or ranges, and perform operations on each element within the sequence.

In [ ]:
#For loop
l=[1,2,3,4]
for i in l:
  if i%2==0:
    print("even no")
  else:
    print("odd no")

odd no
even no
odd no
even no

In [ ]:
#While loop
num = 1

while num <= 5:
    print(num)

    num += 1

1
2
3
4
5

In [ ]:
#Q69. How many type of loop are there in Python?

In [ ]:
# For loop and while loop

In [ ]:
#Q70. What is the difference between for and while loops?

For Loop:
A for loop is typically used when the number of iterations is known beforehand.
It consists of three parts: initialization, condition, and increment/decrement.
The loop iterates over a sequence (such as a range of numbers or elements in a list) and executes the block of code until the condition evaluates to false.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

While Loop:
A while loop is used when the number of iterations is not known beforehand and depends on a condition.
It repeats a block of code as long as the condition remains true.
Unlike the for loop, the while loop doesn't require explicit initialization or increment/decrement.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
#Q71. What is the use of continue statement?

The continue statement is used in programming languages like Python, C, C++, Java to skip the rest of the code inside a loop for the current iteration and move on to the next iteration. It is particularly useful in situations where we want to skip certain iterations based on a condition without terminating the loop entirely.

-When the continue statement is encountered within a loop, the remaining code within that loop's body for the current iteration is skipped.
-
The loop then proceeds to the next iteration, executing from the beginning of the loop block again.

In [ ]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [ ]:
#Q72. What is the use of break statement?

The break statement is used to exit a loop prematurely based on a certain condition. When the break statement is encountered inside a loop, it causes the loop to terminate immediately, and the program continues execution from the statement immediately following the loop.

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
#Q73. What is the use of pass statement?


The pass statement is a placeholder that does nothing when executed. It's primarily used when a statement is syntactically required but no action needs to be taken. Essentially, it acts as a "do-nothing" placeholder.

In [ ]:
def task1():
  pass

In [ ]:
for i in range(5):
  if i==4:
    pass
  else:
    print("required nu")

required nu
required nu
required nu
required nu

In [ ]:
#Q74. What is the use of range() function?

The range() function in Python is used to generate a sequence of numbers. It is commonly used in conjunction with loops to iterate a certain number of times or to generate a sequence of numbers for various purposes.

If you provide one argument, it will generate a sequence of numbers starting from 0 up to (but not including) the specified number.
If you provide two arguments, it will generate a sequence of numbers starting from the first argument up to (but not including) the second argument.
If you provide three arguments, the first two specify the start and end of the sequence, and the third specifies the step size.

In [ ]:
for i in range(0,9,2):
    print(i)

0
2
4
6
8

In [ ]:
#Q75. How can you loop over a dictionary?

we can use for loop to iterate over the keys of a dictionary. By default, iterating over a dictionary implicitly iterates over its keys.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key in my_dict:
    print(key)

a
b
c

 can use the items() method to loop over both keys and values of a dictionary simultaneously.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():
    print(key, value)

a 1
b 2
c 3

In [ ]:
#Q76. Write a Python program to find the factorial of a given number.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Enter a number: "))
print("Factorial of", num, "is", factorial(num))

Enter a number: 6
Factorial of 6 is 720

In [ ]:
#Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [ ]:
def simple_interest(p, r, t):
    return (p * r * t) / 100

p = float(input("Enter the principal amount (P): "))
r = float(input("Enter the rate of interest (R): "))
t = float(input("Enter the time period in years (T): "))

si = simple_interest(p, r, t)
print("Simple Interest =", si)

Enter the principal amount (P): 1000
Enter the rate of interest (R): 2
Enter the time period in years (T): 5
Simple Interest = 100.0

In [ ]:
#Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [ ]:
def compound_interest(p, r, t):
    return p * (1 + r/100) ** t

p = float(input("Enter the principal amount (P): "))
r = float(input("Enter the rate of interest (R): "))
t = float(input("Enter the time period in years (T): "))

ci = compound_interest(p, r, t)
print("Compound Interest =", ci)

Enter the principal amount (P): 1000
Enter the rate of interest (R): 2
Enter the time period in years (T): 5
Compound Interest = 1104.0808032

In [ ]:
#Q79. Write a Python program to check if a number is prime or not.

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 2
2 is a prime number

In [ ]:
#Q80. Write a Python program to check Armstrong Number.

In [ ]:
def is_armstrong(num):
    order = len(str(num))
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10
    return num == sum

num = int(input("Enter a number: "))
if is_armstrong(num):
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number: 23
23 is not an Armstrong number

In [ ]:
#Q81. Write a Python program to find the n-th Fibonacci Number.

In [ ]:
def fibonacci(n):
    if n <= 0:
        print("Incorrect input")
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

n = int(input("Enter the value of n: "))
print("Fibonacci number at position", n, "is", fibonacci(n))

Enter the value of n: 6
Fibonacci number at position 6 is 5

In [ ]:
#Q82. Write a Python program to interchange the first and last element in a list.

In [ ]:
def interchange_first_last(lst):
    if len(lst) < 2:
        return lst
    lst[0], lst[-1] = lst[-1], lst[0]
    return lst

In [ ]:
interchange_first_last([10,23,45,67,98])

[98, 23, 45, 67, 10]

In [ ]:
#Q83. Write a Python program to swap two elements in a list.

In [ ]:
def swap_elements(lst, idx1, idx2):
    lst[idx1], lst[idx2] = lst[idx2], lst[idx1]
    return lst

In [ ]:
swap_elements([1,2,3,4],2,3)

[1, 2, 4, 3]

In [ ]:
#Q84. Write a Python program to find N largest element from a list.

In [ ]:
def find_n_largest(lst, n):
    if n > len(lst):
        return "N is greater than the length of the list"
    else:
        sorted_list = sorted(lst, reverse=True)
        return sorted_list[:n]

In [ ]:
find_n_largest([12,34,56,78],2)

[78, 56]

In [ ]:
#Q85. Write a Python program to find cumulative sum of a list.

In [ ]:
def cumulative_sum(lst):
    cum_sum = [sum(lst[:i+1]) for i in range(len(lst))]
    return cum_sum

In [ ]:
cumulative_sum([23,67,89,45])

[23, 90, 179, 224]

In [ ]:
#Q86. Write a Python program to check if a string is palindrome or not.

In [ ]:
def is_palindrome(s):
    s = s.lower()  # Convert string to lowercase
    s = ''.join(e for e in s if e.isalnum())  # Remove non-alphanumeric characters
    return s == s[::-1]  # Check if the string is equal to its reverse

# Example usage
string = input("Enter a string: ")
if is_palindrome(string):
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

Enter a string: mam
The string is a palindrome

In [ ]:
#Q87. Write a Python program to remove i'th element from a string.

In [ ]:
def remove_ith_char(s, i):
    if i < 0 or i >= len(s):
        return "Index out of range"
    return s[:i] + s[i+1:]

In [ ]:
remove_ith_char('sheets',5)

'sheet'

In [ ]:
#Q88. Write a Python program to check if a substring is present in a given string.

In [ ]:
def is_substring_present(s, substring):
    return substring in s

    if is_substring_present(s, substring):
      print("The substring is present in the string")
    else:
      print("The substring is not present in the string")

In [ ]:
is_substring_present('sheetal','sh')

True

In [ ]:
#Q89. Write a Python program to find words which are greater than given length k.

In [ ]:
def find_long_words(s, k):
    words = s.split()
    long_words = [word for word in words if len(word) > k]
    return long_words

In [ ]:
find_long_words('my name is sheetal',5)

['sheetal']

In [ ]:
#Q90. Write a Python program to extract unquie dictionary values.

In [ ]:
def extract_unique_values(dictionary):
    unique_values = set(value for values in dictionary.values() for value in values)
    return list(unique_values)

In [ ]:
extract_unique_values({'a':[1,2,3,3,3,3],'b':[2,1,3]})

[1, 2, 3]

In [ ]:
#Q91. Write a Python program to merge two dictionary.

In [ ]:
def merge_dicts(dict1, dict2):
    merged_dict = {**dict1, **dict2}
    return merged_dict

In [ ]:
dict1={'a':'sheetal','b':'jatti'}
dict2={'c':'Big data bootcamp','d':25}
merge_dicts(dict1,dict2)

{'a': 'sheetal', 'b': 'jatti', 'c': 'Big data bootcamp', 'd': 25}

In [1]:
#Q92. Write a Python program to convert a list of tuples into dictionary.
#Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
#Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [2]:
def convert_to_dict(list_of_tuples):
    return dict(list_of_tuples)

In [3]:
list_of_tuples=[('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
convert_to_dict(list_of_tuples)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [4]:
#Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.
#Input: list = [9, 5, 6]
#utput: [(9, 729), (5, 125), (6, 216)]

In [5]:
def create_tuple_list(lst):
    tuple_list = [(x, x**3) for x in lst]
    return tuple_list

In [6]:
lst=[9,5,6]
create_tuple_list(lst)

[(9, 729), (5, 125), (6, 216)]

In [7]:
#Q94. Write a Python program to get all combinations of 2 tuples.
#Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
#utput : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [8]:
from itertools import product

def get_all_combinations(tuple1, tuple2):
    return list(product(tuple1, tuple2))

In [9]:
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)
output = get_all_combinations(test_tuple1, test_tuple2)
print("Output:", output)

Output: [(7, 7), (7, 8), (2, 7), (2, 8)]

In [10]:
#Q95. Write a Python program to sort a list of tuples by second item.
#Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)]
#Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [11]:
def sort_list_of_tuples(lst):
    return sorted(lst, key=lambda x: x[1])

In [13]:
lst=[('sheetal',25),('neha',24)]
sort_list_of_tuples(lst)

[('neha', 24), ('sheetal', 25)]

In [14]:
"""#Q96. Write a python program to print below pattern.

*
* *
* * *
* * * *
* * * * * """

'#Q96. Write a python program to print below pattern.\n\n* \n* * \n* * * \n* * * * \n* * * * * '

In [15]:
def print_pattern(n):
    for i in range(1, n+1):
        print("* " * i)

In [16]:
n=5
print_pattern(n)

*
* *
* * *
* * * *
* * * * *

In [17]:
"""#Q97. Write a python program to print below pattern.

    *
   **
  ***
 ****
*****"""

'#Q97. Write a python program to print below pattern.\n\n    *\n   **\n  ***\n ****\n*****'

In [18]:
def print_pattern(n):
    for i in range(1, n+1):
        print(" " * (n-i) + "*" * i)

In [19]:
n=5
print_pattern(n)

    *
   **
  ***
 ****
*****

In [20]:
"""#Q98. Write a python program to print below pattern.

    *
   * *
  * * *
 * * * *
* * * * * """

'#Q98. Write a python program to print below pattern.\n\n    * \n   * * \n  * * * \n * * * * \n* * * * * '

In [21]:
def print_pattern(n):
    for i in range(1, n+1):
        print(" " * (n-i) + "* " * i)

In [22]:
n=7
print_pattern(n)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [23]:
"""Q99. Write a python program to print below pattern.

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5"""

'Q99. Write a python program to print below pattern.\n\n1 \n1 2 \n1 2 3 \n1 2 3 4 \n1 2 3 4 5'

In [24]:
def print_pattern(n):
    for i in range(1, n+1):
        for j in range(1, i+1):
            print(j, end=" ")
        print()
n = 5
print_pattern(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
"""#Q100. Write a python program to print below pattern.
A
B B
C C C
D D D D
E E E E E """

'#Q100. Write a python program to print below pattern.\nA \nB B \nC C C \nD D D D \nE E E E E '

In [26]:
def print_pattern(n):
    for i in range(1, n+1):
        print((chr(64+i) + ' ') * i)

In [27]:
n=6
print_pattern(n)

A
B B
C C C
D D D D
E E E E E
F F F F F F